---
Language: Cpp
IndentWidth: 4
ColumnLimit: 80
SpacesInParentheses: false
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBinaryOperators: All
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: Align
AlignTrailingComments: Always
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Always
  AfterCaseLabel: true
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  BeforeElse: true
  SplitEmptyFunction: false
---
